Source: vasakos-wallpapers
Section: devel
Priority: optional
Maintainer: VasakOS <os@vasak.net.ar>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules
Standards-Version: 4.5.0
Homepage: https://os.vasak.net.ar

Package: vasakos-wallpapers
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: VasakOS Wallpapers
